# MinIO Credentials & Config
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin
MINIO_ENDPOINT=lexos-minio:9000
MINIO_BUCKET=storage
MINIO_USE_SSL=false

# HuggingFace Config
HF_TOKEN=your_huggingface_token_here

# Redis Config
REDIS_URL=redis:6379

# Frontend Config
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_GITHUB_URL=https://github.com/cauafsantosdev/lexos